/*  Fonts  */
h1 {
  font-size: 0.8em;
}

h2 {
  font-size: 1.25em;
}

h1,
h2,
p {
  font-family: "Red Hat Text", sans-serif;
  color: #303030;
}

/* Card Container */
.container {
  display: flex;
  justify-content: center;
  left: 1000px;
}

/* Cards */
cards {
  width: 90%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
}

.btc,
.cosmos,
.ethereum {
  display: grid;
  max-width: 400px;
  min-width: 250px;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(50px, 60px) 1fr;
  grid-template:
    "info"
    "chart";
  border-radius: 30px;
}

.btc {
  box-shadow: 10px 10px 20px 1px rgba(247, 147, 26, 0.15);
}

.cosmos {
  box-shadow: 10px 10px 20px 1px rgba(46, 49, 72, 0.15);
}

.ethereum {
  box-shadow: 10px 10px 20px 1px rgba(78, 56, 216, 0.15);
}

.asset-info {
  grid-area: info;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5% 0 5%;
}

.title {
  display: inline-flex;
}

card h1 {
  margin-left: 10px;
}

/* Charts */
#btcChart,
#cosmosChart,
#ethereumChart {
  grid-area: chart;
  border-radius: 0px 0px 30px 30px;
  margin-top: auto;
}